<!DOCTYPE html>
<html lang="">
<head>
<title>Shapes and Solids!</title>
<link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>
<img src="/public/images/temperature.png" alt="Thermostat" class="left-image">
<img src="/public/images/ruler.png" alt="Ruler" class="right-image">
<img src="/public/images/clock.png" alt="Clock" class="bottom-left-image">
<img src="/public/images/coins.jpg" alt="Coins" class="bottom-right-image">

<h1>Shapes and Solids!</h1>
<p>Welcome to Shaan's Shapes & Solids!</p>
<br>
<a href="/length" class="btn"><strong>Length Converter</strong></a>

</body>
</html>
