<!DOCTYPE html>
<html lang="">
<head>
    <title>Shapes and Solids!</title>
    <link rel='stylesheet' href='/public/stylesheets/style2.css' />
</head>
<body>
<h2>Square</h2>
<p>Enter the side length to calculate the area and perimeter:</p>
<br>
<p>
<input type="number" id="sidelength"><br>
<button type="button" onclick="myFunction()">Submit</button>
<br><br><br>
Area: <input type="number" id="area">
<br><br>
Perimeter: <input type="number" id="perimeter">
</p>

<br>
<a href="/" class="btn"><strong>Home</strong></a>

<script>
function myFunction() {
    var x;

    //Get the value of the input field with id="firstnumber"
    x = document.getElementById("sidelength").value;
    
    document.getElementById("area").value = x * x;
    document.getElementById("perimeter").value = 4 * x;
}
</script>

</body>
</html>